.setting-container {
    width: 95%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.setting-title {

}

.setting-form {

}

.setting-btn-submit {

}

.setting-btn-cancel {

}
