.RecordCard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    margin: 5px 0 5px 0;
    border-bottom: 1px solid rgb(211, 211, 211);
    border-radius: 3px;
}

.RecordCard:hover {
    background-color: #f5f8fa;
    transition: background-color 0.3s ease;
}

.record-card-left {
    flex: 2.5;
    margin-left: 15px;
    cursor: pointer;
    text-align: left;
}

.record-card-right {
    flex: 1;
    margin-right: 15px;
}

.record-delete-button {
    text-align: center;
}

.record-favorite-button {
    text-align: center;
    color: #ffaa00 !important;
}

.record-card-text-container .record-card-text-tooltip {
    white-space: pre-line;
    background-color: #ffaa73;
    color: #222;
}
