.RecordCard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    margin: 5px 0 5px 0;
    border-top: 1px solid rgb(128, 128, 128);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.RecordCard > .RecordCardLeft {
    flex: 2.5;
    margin-left: 15px;
    cursor: pointer;
    text-align: left;
}

.RecordCard > .RecordCardRight {
    flex: 1;
    margin-right: 15px;
}

.RecordCard > .RecordCardRight > Button {
}


.search-results {
    margin-top: 10px;
}

.result-item {
    padding: 10px;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 5px;
    margin-bottom: 10px;
}
